Options +Indexes
IndexOptions FancyIndexing IgnoreCase NameWidth=* SuppressDescription
<filesMatch ".*">
  <ifModule mod_headers.c>
    Header set Cache-Control "no-cache"
  </ifModule>
</filesMatch>
